version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: mini_ledger_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mini_ledger
    ports:
      - '5434:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
